
.container {
    padding: 100px 0;
}
.container .container-title {

    margin-bottom: 100px;
}
.container .container-title h2 {
    width: auto;
}
.container .grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 350px;
    row-gap: 40px;
    justify-content: center;
    }

.grid article {
max-width:550px;
border: 1px solid #ccc;
box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
border-radius:15px;
overflow:hidden;
}



.grid  img {
 width:100%;
}

.grid .text {
padding: 30px;
}


.btn {
padding: 10px 40px;
background: #000000 0% 0% no-repeat padding-box;
border-style: none;
border-radius: 10px;
color:white;
opacity: 1;
float: right;
}